{% extends "layout.html" %}

{% block title %}Weird Game{% endblock %}

{% block imports %}
<script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{url_for('static',filename='game_tools/shapes.js')}} "></script>
<script type="text/javascript" src="{{url_for('static',filename='game_tools/game_specific_things.js')}} "></script>
{% endblock %}

{% block content %}
<canvas style="margin:0px; background-color: black;"></canvas>

<script type="text/javascript" src="{{url_for('static',filename='game_tools/game.js')}} "></script>
{% endblock %}

